{% extends 'admin/admin_dash.html' %}
{% load static %}
{% block body %}


<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Manage products</h2>
      <ol>
        <li><a href="{% url 'admin_pg' %}">Home</a></li>
        <li>Manage products</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs -->

<section id="portfolio-details" class="portfolio-details">
  <div class="container">

<form id="form1" name="form1" method="post" action="admin_product_adding" enctype="multipart/form-data">
  <table class="table table-striped" border="1">
    <tr>
      <td height="63" colspan="4"><div align="center"> </div></td>
      <td width="200" colspan="4"><div align="center">
        <input name="ADD" type="submit" class="btn btn-outline-primary" id="ADD" value="ADD " />
      </div></td>
    </tr>
    <tr>
      <th width="183"> <div align="center">NAME</div></th>
      <th width="183"><div align="center">IMAGE</div></th>
      <th width="183"><div align="center">DESCRIPTION</div></th>
      <th width="183"><div align="center">PRICE</div></th>
      <th colspan="2"><div align="center">MANAGE</div></th>
    </tr>
    {% for i in val %}
    <tr>
      <td height="56"><div align="center">{{ i.name }}</div></td>
      <td><div align="center"><img src="{{ i.image.url}}" width="100" height="100"></div></td>
      <td><div align="center">{{ i.description }}</div></td>
      <td><div align="center">{{ i.price }}</div></td>
      <td width="183"><div align="center"><a class="btn btn-outline-primary" href="{% url 'update_product' id=i.id %}">UPDATE</a></div></td>

      <td><div align="center"><a class="btn btn-outline-danger" href="{% url 'delete_product' id=i.id %}">REMOVE</a></div></td>

    </tr>
    {% endfor %}
  </table>
</form>

</div>
</section>

{% endblock %}